#header{
    display: flex;
    width: 100%;
    padding-left: 30px;
    border: black 1px solid;
    align-items: center;
    gap: 30px;
}

.header-title {
    font-weight: bold;
    font-size: large;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.header-list-item a {
    text-decoration: none;
    color: black;
    
}

.header-list-item {
    transform: scale(1);
    transition: transform 0.3s ease-in;
}

.header-list-item:hover {
    transform: scale(1.1);
}

.header-list-item a:hover {
    color: blue;
}