.store-item-photo  img {
    object-fit: contain;
    width: 100%;
    height: 12rem;
}

hr {
    background-color: black;
    /* height: 1px; */
    width: 100%;
}

.store-item-text {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.store-item-title {
    font-weight: bold;
    font-size: large;
}

.store-item-price {
    /* text-align: end; */
    align-items: flex-end;
}

.store-item-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: white;
    transition: transform 0.3s ease;
}

.store-item-container:hover {
    transform: scale(1.1);
}